CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -std=c++23
    - -DSWIFT_PRIVATE_ATTR=__attribute__((swift_private))
    - -I/Library/Developer/CommandLineTools/usr/lib/swift
  CompilationDatabase: ./build

Diagnostics:
  UnusedIncludes: Strict

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true

# vim:ft=yaml
